<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1>University Database</h1>
<p>
StudentID: 1, First_Name: Stephen, Middle_Name: Edwin, Last_Name: King, Address: 1234 Elm Street, Bangor ME 04401, Phone: 32767, Primary_Email: stephen@king.com, Major: English Literature, MajorID: 1, AdvisorID: 2
StudentID: 2, First_Name: Amy, Middle_Name: Ruth, Last_Name: Tan, Address: 4321 Joy Luck Club Way Oakland, CA 94501, Phone: 32767, Primary_Email: amy@tan.com, Major: Asian American Studies, MajorID: 2, AdvisorID: 1
StudentID: 3, First_Name: Lisa, Middle_Name: Monica, Last_Name: See, Address: 632 Tyrus Ln Los Angeles, CA 90001, Phone: 32767, Primary_Email: lisa@see.com, Major: French, MajorID: 3, AdvisorID: 2
StudentID: 4, First_Name: John, Middle_Name: Griffith, Last_Name: London, Address: 0001 Wildcall Blvd, Anchorage AK, 99501, Phone: 32767, Primary_Email: jack@london.com, Major: Environmental Studies', MajorID: 4, AdvisorID: 1
>>> 

</p>
</html>
